.logoNetflix {
  width: 200px;
  height: auto;
  margin: 0px 0px 0px 50px;
}

body {
  background-color: black;
}

.category {
  color: white;
}

.carousel {
  display: flex;
  flex-shrink: 0;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-bottom: 45px;
}

.carousel img {
  width: 220px;
  height: auto;
  aspect-ratio: 220/120;
  object-fit: cover;
}

.carousel::-webkit-scrollbar {
  width: 0.5em;
}

.movies {
  margin-left: 50px;
}